#region

#endregion

// ! Test

htmlx


<div><!-- ? a HTML comment --></div>

<!-- ! a HTML comment --> <a href="#">something</a> <!-- ? a HTML comment --> <div>something else</div> // Note: and the end