﻿/*
C:\Users\Michael\Projects\MultiAdornment\redmuffin.MultiAdornment\_ContentTypeTestFiles\SCSS.scss:11: error: file to import not found or unreadable: "normalize"

   at NSass.SassCompiler.CompileFile(String inputPath, OutputStyle outputStyle, Boolean sourceComments, IEnumerable`1 additionalIncludePaths)
   at SassyStudio.Integration.LibSass.NSassDocumentCompiler.Compile(FileInfo source, FileInfo output)
   at SassyStudio.Editor.GenerateCssOnSave.GenerateCss(DateTime time, String path)
*/
